html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
abbr[title], dfn[title] {
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select {
    vertical-align:middle;
}
/* remember to define focus styles! */
:focus {
	outline-color:##FF9900;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration:none;
}
/* Clearfix */
header:after, ul:after, footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.accessibility, span.accessibility {
	position:absolute;
	left:-9999px;
}
/* Basic styles */

html, * {
	margin: auto;
	padding:0;
}
html {
	text-align:center;
	background: url("../img/tile.png") repeat top left;
}
body {
	font-size:62.5%;
	line-height: 1;
	width:90%;
	text-align:left;
	margin:0 auto;
	font-family:hevletica, arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color:#000;
	padding: 0 4%;
}
::selection {
	background: #fdff70; /* Safari */
	}
::-moz-selection {
	background: #fdff70; /* Firefox */
}
h1, h2 {
	font-family: 'Amatic SC', cursive;
	font-weight:normal;
}
h1 {
	font-size:5em;
	margin-top:10px;
	margin-right:36px;
	float:left;
}
h2 {
	font-size:7em;
	margin-bottom:20px;
}
p {
	font-size:2em; 
	line-height:1.4em;
	font-weight:lighter;
	margin-bottom:20px;
}
form p {
	display:inline;
	margin:0 10px;
}
a {
	color:#cc0000;
}
a:hover, a:active, a:focus {
	text-decoration:underline;
	color:#000;
}
header {
	width:960px;
	height:69px;
	padding:13px 20px;
	margin-bottom:19px;
	background:#fff;
	float:left;
}
#controls {
	float:left;
	width:730px;
	margin-top:15px;
}
header p {
	font-size:1.2em;
}
input[type="text"] {
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height:40px;
	width:278px;
	-webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	text-indent:10px;
	font-size:1.4em;
	margin-right:15px;
}
input[type="submit"] {
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height:40px;
	background:#cc0000;
	color:#fff;
	-webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	font-size:1.6em;
	font-weight:normal;
	cursor:pointer;
	padding:0 10px;
	
	text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
	
}
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
	background:#b10000;
}
.game {
	width:725px;
	float:left;
}
.game li {
	height:126px;
	width:126px;
	margin:0 15px 15px 0;
	float:left;
	overflow:hidden;
}
aside {
	float:left;
	width:215px;
	padding:20px;
	background:#f9f9f9;
	font-family: 'Amatic SC', cursive;
	margin-left: 20px;
}
aside p {
	font-size:4em;
	line-height:0.8em;
}
aside a.twitter {
	display:block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height:40px;
	width:220px;
	background:#ccc url(../img/twitter.png) 10px center no-repeat;
	color:#666;
	-webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
	text-indent:60px;
	font-size:1.6em;
	line-height:2.6em;
	font-weight:normal;
	margin-top:30px;
	text-shadow: 2px 1px 1px rgba(255,255,255,0.6);
	font-family:hevletica, arial, sans-serif;
}
aside a.twitter:hover, aside a.twitter:active, aside a.twitter:focus {
	background:#c0c0c0 url(../img/twitter.png) 10px center no-repeat;
}
.timer {
	margin-bottom:30px;
}
.timer span {
	padding-right:15px;
}
.score {
	color:#666;
}
footer {
	float:left;
	width:225px;
	padding:5px 15px;
	font-size:0.6em;
	margin:10px 0 0 0;
}
